@model GSMC20240906.DTOs.ProductsDTOs.SearchResultProductGSMCDTO

@{
    ViewData["Title"] = "Index";
    var modelSearchQuery = ViewBag.SearchQuery as SearchQueryProductGSMCDTO;
}
<partial name="SearchQuery" model="modelSearchQuery" />
<partial name="SearchResult" model="Model" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CountRow)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreGSMC)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
